.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.time-left {
  font-size: 4.209em;
}

.info {
  font-size: 1.333em;
}

.session,
.break {
  display: inline-block;
}

.session {
  margin-right: 20px;
}

#session-length,
#break-length {
  font-size: 32px;
}

#start_stop {
  border: none;
  padding: 1em 2em;
  font-size: 1.333em;
}
